.ks-footer {
  padding: 40px 15px 10px 15px;
  background: url('assets/images/pattern-darkblue.svg'), $blue-dark-light;
  .section-title {
    font-family: 'Concert One';
    color: white;
    font-size: 30px;
    letter-spacing: 1.35px;
    margin-bottom: 40px;
    @include respond-to(xs, sm) {
      font-size: 25px;
    }
  }
  p {
    font-family: 'FaktSoftPro';
    color: white;
    width: 600px;
    margin: auto;
    margin-bottom: 40px;
    text-align: justify;
    @include respond-to(xs, sm) {
      font-size: 16px;
      letter-spacing: 0.49px;
      line-height: 28px;
    }
  }
  .free-quote-button {
    margin-bottom: 40px;
    width: 100%;
    border: none;
  }
  .closing-title {
    text-align: center;
    color: white;
  }
  .input-form {
    width: 400px;
    margin: auto;
    textarea, input {
      outline: none;
      border: solid 3px white;
      &:focus {
        border: solid 3px #27B1B6;
      }
    }
    &.erorr {
      .email-input {
        &:invalid {
          border: solid 3px $salmon;
        }
      }
    }
  }
  .info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px;
    .info {
      display: inline-block;
      p {
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
      }
      .mail-logo {
        margin: auto!important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          margin-right: 10px;
        }
        a {
          font-family: 'FaktSoftPro';
          font-size: 16px;
          color: white;
          letter-spacing: 0.49px;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .email-input {
    @extend .ks-input;
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    font-size: 16px;
    user-select: auto!important;
    &::placeholder {
      font-size: 16px;
    }
  }
  .message-input {
    @extend .ks-input;
    width: 100%;
    user-select: auto!important;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
  }
  .head-logo {
    width: 142px;
    display: block;
    margin: auto;
    margin-top: 100px;
    @include respond-to(xs, sm) {}
  }
  @include respond-to(xs, sm) {
    p { width: 100%; }
    background: $blue-dark-light;
  }
}

.fine-print {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-family: Nunito-Light;
    font-size: 16px;
    letter-spacing: 0.49px;
    margin: 0;
    font-weight: 100;
  }
  .right {
    display: flex;
    flex-direction: row;
    .copyright {
      padding: 10px;
      color: white;
    }
  }
}
