@keyframes float {
  0% { left: -10%; }
  25% { left: 10%; }
  50% { left: -10%; }
  75% { left: 10%; }
  100% { left: -10%; }
}

.ks-hero {
  margin-bottom: 50px;
  .hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  .cloud-bg {
    width: 100%;
    position: relative;
    z-index: -1;

    .cloud-rows {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      .cloud-row {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        height: 50%;
        img {
          padding: 0 100px 0 100px;
          position: relative;
          animation: float 25s;
          animation-timing-function: linear;
          animation-iteration-count:infinite;
          height: 90px
        }
        .c-1 {
          animation-delay: -.5s;
          padding-right: 100px!important;
        }
        .c-2 {
          padding-left: 100px;
          animation-delay: -5.5s;
        }
        .c-3 {
          animation-delay: -5s;
          padding-right: 100px;
        }
      }
    }
  }
  .logo {
    width: 90%;
    display: block;
    margin: auto;
  }
}

.ks-hero * {
  margin: auto;
}

.ks-hero {
  h2 {
    color: #57D7DD;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.2px;
    display: block;
  }
  .hero-img {
    margin: auto;
    margin-bottom: 30px;
    max-width: 380px;
    overflow: hidden;
    @include respond-to(xs, sm) {
      max-width: 100%;
    }
    @include respond-to(xl) {
      width: 35%;
      max-width: 600px;
    }
  }
}

.free-quote-button {
  border-radius: 20px;
  padding: 15px 0px 15px 0px;
  user-select: none;
  font-family: 'Concert One', cursive;
  font-size: 26px;
  color: white;
  letter-spacing: 1px;
  font-weight: thin;
  text-align: center;
  width: 250px;
  display: block;
  margin: auto;
  background: $salmon;
  @include btn-3d($salmon);
}

.free-quote-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
