.ks-methods {
  margin-bottom: 40px;
  padding-top: 50px;
  .section-title {
    font-size: 30px;
    margin-bottom: 70px;
  }
  .methods-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    .recipe-method {
      width: 90%;
      $in-btn: 30px;
      margin-left: $in-btn;
      margin-right: $in-btn;
      .method-title {
        font-size: 20px;
        letter-spacing: 0.93px;
        text-align: center;
        margin-bottom: 20px;
      }
      p {
        padding: 0 20px 0 20px;
        margin: auto;
        margin-bottom: 40px;
        text-align: justify;
        letter-spacing: -0.28px;
        line-height: 30px;
        width: 90%;
      }
      img {
        display: block;
        margin: auto;
        width: 90%;
        max-width: 350px;
      }
    }
    @include respond-to(xs, sm) {
      flex-direction: column;
      .recipe-method {
        margin: auto;
      }
    }
  }
}
