.ks-mission {
  margin-bottom: 250px;
  background: url('assets/images/patter-lightblue.svg');
  .mission-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    .mission-statement {
      width: 400px;
      margin: auto;
      .section-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
      }
      .tiny-accents {
        display: block;
        margin: auto;
      }
      p {
        margin: auto;
        text-align: justify;
        padding: 20px;
      }
    }
    .mission-img {
      margin: auto;
      margin-left: 0px;
      width: 200px;
      height: 400px;
      @include respond-to(xs, sm) {
        margin: auto;
        margin-top: 20px;
      }
    }
    @include respond-to(xs, sm) {
      flex-direction: column;
      .mission-statement {
        width: 300px;
      }
    }
  }
  @include respond-to(xs, sm) {
    background: white;
  }
}

.noodles-cloud {
  display: inline-block;
  margin: auto;
  margin-top: 70px;
  width: 100px;
  @include respond-to(md, lg, xl) {
    display: none;
  }
}
