$nav-height: 70px;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.overflowWrap {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  &.no-scroll {
    overflow: hidden;
  }
}

.ks-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $nav-height;
  z-index: 10;
  background: white;
  font-family: 'Concert One', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .screen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  .badge-img {
    visibility: hidden;
    width: 200px;
    height: 58.5px;
    padding-left: 40px;
    @include respond-to(xs, sm) {
      display: none;
    }
  }

  .nav-list-items {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding-right: 40px;
    height: 100%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    @include respond-to(xs, sm) {
      width: 100%;
      margin: 0px!important;
      padding-left: 10px;
    }
    li {
      display: flex;
      flex-direction: column;
      float: right;
      height: 100%;
      justify-content: center;
      padding: 0 12px 0 12px;
      a {
        font-size: 18px;
        text-decoration: none;
      }
      .free-quote-button {
        font-size: 18px;
        padding: 5px 5px 5px 5px;
        width: 110px;
      }
      @include respond-to(xs, sm) {
        display: none;
      }
    }
    .hamburger {
      width: 25px;
      margin-left: 20px;
      height: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
      @include respond-to(md, lg, xl) {
        display: none;
      }
    }
    .mobile-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      width: 80px;
      height: 100%;
      .free-quote-button {
        width: 80px;
        float: right;
        font-size: 13px;
        padding: 8px;
      }
      @include respond-to(md, lg, xl) {
        display: none;
      }
    }
  }

  &.scroll-view {
    box-shadow: -3px 1px 5px 0px rgba(219,219,219,0.50);
  }
}

/************* MOBILE *************/

.nav-wrapper {
  $nav-width: 70%;
  .ks-nav-mobile {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    padding: 0px;
    height: 100%;
    width: $nav-width;
    transition: left 0.3s ease;
    box-shadow: -3px 1px 5px 0px rgba(219,219,219,0.50);
    .nav-list-items {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: white;
      padding: 0px;
      margin: 0px;
      .close-btn-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 100px;
        .close-btn {
          background: url('assets/images/close.svg');
          float: right;
          background-size: 20px 20px;
          width: 20px;
          height: 20px;
          margin: 20px;
          background-repeat: no-repeat;
        }
      }
      li {
        padding: 30px;
        width: 60%;
        margin: 0 auto 0 auto;
        list-style: none;
        border-bottom: 1px solid #F3F3F3;
        &.top {
          border-top: 1px solid #F3F3F3;
        }
        a {
          font-family: 'Concert One', cursive;
          font-size: 18px;
          color: #606A77;
          letter-spacing: 1.36px;
          text-decoration: none;
        }
        &:hover, &:active {
          cursor: pointer;
          a {
            border-bottom: 2px solid #8BE9ED;
          }
        }
      }
      .free-quote-button {
        padding: 10px;
        width: 130px;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .pencil-accent {
        background: url('assets/images/lil-pencil.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 100px;
        margin: auto;
        margin-top: 20px;
      }
    }
    @include respond-to(md, lg, xl) {
      display: none;
    }
  }
  .screen {
    background: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include respond-to(md, lg, xl) {
      display: none;
    }
  }
  &.closed {
    .ks-nav-mobile {
      left: -70%!important;
    }
    .screen {
      display: none;
    }
  }
}

.ks-nav-strut {
  margin-bottom: 40px;
  height: $nav-height;
  @include respond-to(xs, sm) {
    display: none;
  }
  &.mobile {
    display: block;
    @include respond-to(md, lg, xl) {
      display: none;
    }
  }
}
