.ks-learning {
  $container-width: 800px;
  margin-bottom: 100px;
  h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  p {
    width: $container-width;
    margin: auto;
    color: $blue-grey;
    margin-bottom: 40px;
    @include respond-to(xs, sm) {
      text-align: justify;
      width: 90%;
    }
  }
  .input-sections {
    display: flex;
    flex-direction: column;
    width: $container-width;
    margin: auto;
    &.erorr {
      .email-input {
        &:invalid {
          border: solid 1px $salmon;
        }
      }
    }
    .email-input {
      @extend .ks-input;
      margin-bottom: 20px;
      width: 300px;
      border: solid 1px #979797;
      font-size: 18px;
      user-select: auto;
      outline: none;
      @include respond-to(xs, sm) {
        width: 95%;
        margin: auto;
        box-sizing: border-box;
        margin-bottom: 20px;
      }
    }
    .message-input {
      @extend .ks-input;
      border: solid 1px #979797;
      width: 600px;
      resize: none;
      margin-bottom: 40px;
      font-size: 18px;
      user-select: auto;
      outline: none;
      @include respond-to(xs, sm) {
        width: 95%;
        margin: auto;
        box-sizing: border-box;
        margin-bottom: 40px;
      }
    }
    @include respond-to(xs, sm) {
      width: 100%;
    }
  }
  .free-quote-button {
    width: 200px;
  }
}
