.ks-portfolio {
  h1 {
    text-align: center;
  }
  .blurbs {
    max-width: 850px;
    margin: auto;
    height: 400px;
    .blurb {
      transition: opacity 0.2s;
      overflow: hidden;
      opacity: 0;
      height: 0px;
      h2 {
        text-align: center;
        letter-spacing: 0.9px;
      }
      p { text-align: justify; }
      &.show {
        opacity: 1!important;
        height: 100%!important;
        @include respond-to(xs, sm) {
          padding: 20px;
        }
      }
    }
    @include respond-to(xs, sm) {
      height: 600px;
    }
  }
  .image-slider {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    height: 400px;
    $total-width: 850px;
    $total-height: 400px;
    @include respond-to(xs, sm) {
      height: 250px;
    }
    * {
      overflow: hidden!important;
    }
    .slick-list.draggable {
      height: $total-height;
      width: $total-width;
    }
    .images {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      height: $total-height;
      width: $total-width;
      overflow: hidden;
      .slider-img {
        user-select: none;
        display: inline-block;
        transition: transform .5s;
        height: $total-height;
        width: $total-width;
        @include respond-to(xs, sm) { width: 100%; }
        p {
          word-wrap: break-all;
          white-space: normal;
          width: 100%;
        }
      }
      @include respond-to(xs, sm) {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        white-space: wrap;
      }
    }
    @include respond-to(xs, sm) {
      width: 100%;
    }
  }
}

.slider-arrow {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  @include respond-to(xs, sm) {
    display: none!important;
  }
  img {
    $diameter: 32px;
    width: $diameter;
    border-radius: $diameter/2;
    background: white;
    &:hover {
      cursor: pointer;
      box-shadow: -3px 1px 5px 0px rgba(219,219,219,0.50);
      transform: scale(1.1);
    }
  }
}
