.ks-portfolio {
  h1 {
    text-align: center;
  }
  .image-slider {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1200px;
    margin-bottom: 40px;
    .images {
      max-width: 850px;
      overflow: hidden;
      white-space: nowrap;
      .slider-img {
        display: inline-block;
        transition: transform .5s;
        @include respond-to(xs, sm) {
          width: 100%;
        }
      }
      @include respond-to(xs, sm) {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        white-space: wrap;
      }
    }
    @include respond-to(xs, sm) {
      width: 100%;
    }
  }
}

.slider-arrow {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  @include respond-to(xs, sm) {
    display: none;
  }
  img {
    $diameter: 32px;
    width: $diameter;
    border-radius: $diameter/2;
    background: white;
    &:hover {
      cursor: pointer;
      box-shadow: -3px 1px 5px 0px rgba(219,219,219,0.50);
      transform: scale(1.1);
    }
  }
}
