.ks-help {
  background: $blue-green;
  padding: 100px 0 100px 0;
  h3 {
    text-align: center;
  }
  .help-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    .help-method {
      img {
        width: 200px;
        height: 200px;
      }
      p {
        width: 300px;
        text-align: center;
        /* We want to give back: */
        font-family: FaktSoftPro-Normal;
        font-size: 20px;
        color: #3A4857;
        letter-spacing: 0.69px;
        line-height: 30px;
      }
    }
    @include respond-to(xs, sm) {
      flex-direction: column;
    }
  }
}
