.ks-methods {
  .methods-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    .recipe-method {
      p { width: 100%; }
      img { width: 100%; }
    }
    @include respond-to(xs, sm) {
      flex-direction: column;
    }
  }
}
