.ks-nav {
  font-family: 'Concert One', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .badge-img {
    width: 200px;
    height: 58.5px;
    @include respond-to(xs, sm) {
      display: block;
      margin: 20px auto 20px auto;
    }
  }

  ul {
    list-style-type: none;
    overflow: hidden;

    li {
      display: inline;
      float: right;
      padding: 20px;
      a {
        font-size: 20px;
        text-decoration: none;
      }
    }
    @include respond-to(xs, sm) {
      display: none;
    }
  }
}
