.ks-nav {
  background: none;
  border: none;
  font-family: 'Concert One', cursive;
}

.navbar-default .navbar-nav > ul {
  padding-right: 20px;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 18px;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand > img {
  width: 200px;
}
