.ks-footer
  .section-title Let's make it happen
  p We’ll look over your project and give you a free quote. We’ll also throw in a preliminary free design or code review. Once we get in touch, we’ll learn about your needs and get to work making something wonderful together.
  input.email-input(type="email", placeholder="email or phone number")
  a.free-quote-button get FREE quote
  img.mail-logo(src="assets/images/mail.svg")
  h1.closing-title King of the Stack
