.ks-hero
  .cloud-bg
    .cloud-rows
      .cloud-row
        img.c-1(src="assets/images/cloud3.svg")
        img.c-2(src="assets/images/cloud1.svg")
      .cloud-row
        img.c-3(src="assets/images/cloud1.svg")
        img.c-4(src="assets/images/cloud2.svg")
    .hero-content
      h2 We make majestic full-stack apps
      img.hero-img(src='assets/images/king.svg')
  a.free-quote-button(onclick="window.location.href = '/portfolio.html'") Get FREE Quote
