.ks-hero
  .cloud-bg
    .cloud-rows
      .cloud-row
        img.c-1(src="assets/images/cloud1.svg")
        img.c-2(src="assets/images/cloud1.svg")
      .cloud-row
        img.c-3(src="assets/images/cloud2.svg")
        img.c-4(src="assets/images/cloud3.svg")
    .hero-content
      h2 We make majestic full stack apps
      img.img-responsive(src='assets/images/king.svg')
  a.free-quote-button Get a FREE Quote
