.ks-help
  h3 How We Help
  .help-section
    .help-method
      img(src="assets/images/pencil.svg")
      h5 design
      p We make amazing designs. Have you seen our website? If you’re into beautiful, simple UX design, then contact us for a free quote!
    .help-method
      img(src="assets/images/duck.svg")
      h5 code
      p Javascript development for web & mobile is our specialty. Our experienced team can cook up anything you can dream.
    .help-method
      img(src="assets/images/light.svg")
      h5 learn
      p We want to give back to our community. That’s why we offer free mentorship, courses and tutorials on all the latest web topics.
