.ks-methods
  h2.section-title Our recipe for success
  .methods
    .methods-wrapper
      .recipe-method
        img(src="assets/images/eggs.svg")
        h4 Hatch a plan
        p We work closely with you to clarify requirements. If you’ve got designs and prototypes ready that’s great. If not, it’s ok because we do that too!
      .recipe-method
        img(src="assets/images/milk.svg")
        h4 Continous Delivery
        p Our agile team delivers your product in weekly sprints, keeping you informed, and staying flexible to your needs.
      .recipe-method
        img(src="assets/images/sugar.svg")
        h4 Keep it sweet
        p Our priority is to build apps that keep performing at 100%. That’s why we ensure that your team can maintain our work with detailed training and documentation.
