.ks-mission
  .mission-wrapper
    .mission-statement
      h2 Our Mission

      img.tiny-accents(src="assets/images/tiny-crown.svg")
      p We love bringing ideas to life. So let us help you grow your empire with a brilliant product your users will love.

      img.tiny-accents(src="assets/images/tiny-rocket.svg")
      p Whether you need a stable foundation to launch from, or a boost to reach escape velocity, we’ve got you covered. Let’s ship it together.

    img.mission-img(src="assets/images/mushroom.svg")
