nav.ks-nav(id="main-nav")
  img.badge-img(src='assets/images/badge.svg', onclick="window.location.href = '/'")
  ul
    li
      a.free-quote-button(style="width: 110px;") Free Quote
    li
      a(href='#') process
    li
      a(href='learn.html') learn
    li
      a(href='portfolio.html') portfolio
    li
      a(href='/#about') about
nav.ks-nav-strut
