nav.ks-nav(id="main-nav")
  .screen-container
    .badge-img
      img(src='assets/images/font-badge.svg', onclick="window.location.href = '/'")
    ul.nav-list-items
      li.no-mobile
        a.free-quote-button(href="/#footer", onmouseup="goScroll('#footer')") Free Quote
      li
        a(href='/#process') process
      li
        a(href='learn.html') learn
      li
        a(href='portfolio.html') portfolio
      li
        a(href='/#about') about
      .hamburger(onclick="toggleNav()")
        img(src="assets/images/hamburger-menu.svg")
      .mobile-button
        a.free-quote-button(href="/#footer") Free Quote
nav.ks-nav-strut

.nav-wrapper.closed
  nav.ks-nav-mobile(id="main-nav")
    ul.nav-list-items
      .close-btn-wrapper
        .close-btn(onclick="toggleNav()")
      li.top(onclick="toggleNav(); window.location.href = '/';")
        a(href='/#home', onclick="return toggleNav();") home
      li.top(onclick="toggleNav(); window.location.href = '/#about';")
        a(href='/#about', onclick="return toggleNav();") about
      li(onclick="toggleNav(); window.location.href = 'portfolio.html';")
        a(href='portfolio.html') portfolio
      li(onclick="toggleNav(); window.location.href = 'learn.html';")
        a(href='learn.html') learn
      li(onclick="toggleNav(); window.location.href = '/#process';")
        a(href='/#process', onclick="return toggleNav();") process
      a.free-quote-button(href="/#footer", onclick="toggleNav()") Free Quote
      .pencil-accent
  nav.ks-nav-strut.mobile
  .screen(onclick="toggleNav()")
