nav.ks-nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        img(alt='Brand', src='assets/images/badge.svg')
    ul.nav.navbar-nav.navbar-right
      li
        a(href='#') about
      li
        a(href='#') portfolio
      li
        a(href='#') process
      li
        a(href='#') learn
