.portfolio-prompt-wrapper
  .portfolio-prompt-bg
    .portfolio-prompt-overlay
  .portfolio-prompt
    h2 A portfolio that stacks up
    img(src="assets/images/pancake.svg")
    a.more-previews-button Show me
    p Over the years, we’ve worked with individuals, startups and large enterprises to design and develop software of the highest caliber. Have a look!

.portfolio-prompt.mobile
  h2 A portfolio that stacks up
  img(src="assets/images/pancake.svg")
  a.more-previews-button Show me
  p Over the years, we’ve worked with individuals, startups and large enterprises to design and develop software of the highest caliber. Have a look!
