/**
 * Used to simplify media queries to align with bootstrap breakpoints
 * @param  {word} $medias... A list of media types - xs, sm, md, lg, xl
 */
@media only screen and (max-width: 480px) {
  .no-mobile {
    display: none !important; } }

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .no-mobile {
    display: none !important; } }

.screen-container {
  width: 1400px;
  margin: auto; }

body {
  margin: 0px; }

* {
  user-select: none; }

input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none; }

h1, h2, h3, h4, h5 {
  font-family: 'Concert One', cursive;
  color: #384856;
  font-weight: 100; }

p {
  font-family: FaktSoftPro;
  font-size: 18px;
  color: #384856;
  letter-spacing: 0.69px;
  line-height: 30px;
  font-weight: 100; }

a {
  color: #384856; }

@font-face {
  font-family: "FaktSoftPro";
  src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.woff") format("woff"); }

@font-face {
  font-family: "FaktSoftPro";
  src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.woff") format("woff");
  font-weight: light; }

@font-face {
  font-family: "FaktSoftPro";
  src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.woff") format("woff");
  font-weight: bold; }

.section-title {
  margin: atuo;
  text-align: center; }

.toast {
  background: red;
  width: 200px;
  height: 100px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  z-index: 100;
  animation: toastin 0.2s ease-out;
  display: none; }

@keyframes toastin {
  0% {
    -webkit-transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(0px); } }

.ks-input, .ks-footer .email-input, .ks-footer .message-input, .ks-learning .input-sections .email-input, .ks-learning .input-sections .message-input {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  color: #384856; }
  .ks-input::placeholder, .ks-footer .email-input::placeholder, .ks-footer .message-input::placeholder, .ks-learning .input-sections .email-input::placeholder, .ks-learning .input-sections .message-input::placeholder {
    font-family: 'FaktSoftPro';
    color: #ACBECE;
    letter-spacing: 0.56px; }

.overflowWrap.no-scroll {
  overflow: hidden; }

.ks-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 10;
  background: white;
  font-family: 'Concert One', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .ks-nav .screen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; }
  .ks-nav .badge-img {
    height: 30px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .ks-nav .badge-img img {
      height: 25px;
      margin: auto; }
      .ks-nav .badge-img img:hover {
        cursor: pointer; }
    @media only screen and (max-width: 480px) {
      .ks-nav .badge-img {
        display: none; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-nav .badge-img {
        display: none; } }
  .ks-nav .nav-list-items {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding-right: 40px;
    height: 100%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
    @media only screen and (max-width: 480px) {
      .ks-nav .nav-list-items {
        width: 100%;
        margin: 0px !important;
        padding-left: 10px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-nav .nav-list-items {
        width: 100%;
        margin: 0px !important;
        padding-left: 10px; } }
    .ks-nav .nav-list-items li {
      display: flex;
      flex-direction: column;
      float: right;
      height: 100%;
      justify-content: center;
      padding: 0 12px 0 12px; }
      .ks-nav .nav-list-items li a {
        font-size: 18px;
        text-decoration: none; }
      .ks-nav .nav-list-items li .free-quote-button {
        font-size: 18px;
        padding: 5px 5px 5px 5px;
        width: 110px; }
      @media only screen and (max-width: 480px) {
        .ks-nav .nav-list-items li {
          display: none; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .ks-nav .nav-list-items li {
          display: none; } }
    .ks-nav .nav-list-items .hamburger {
      width: 25px;
      margin-left: 20px;
      height: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .ks-nav .nav-list-items .hamburger:hover {
        cursor: pointer; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .ks-nav .nav-list-items .hamburger {
          display: none; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .ks-nav .nav-list-items .hamburger {
          display: none; } }
      @media only screen and (min-width: 1200px) {
        .ks-nav .nav-list-items .hamburger {
          display: none; } }
    .ks-nav .nav-list-items .mobile-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      width: 80px;
      height: 100%; }
      .ks-nav .nav-list-items .mobile-button .free-quote-button {
        width: 80px;
        float: right;
        font-size: 13px;
        padding: 8px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .ks-nav .nav-list-items .mobile-button {
          display: none; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .ks-nav .nav-list-items .mobile-button {
          display: none; } }
      @media only screen and (min-width: 1200px) {
        .ks-nav .nav-list-items .mobile-button {
          display: none; } }
  .ks-nav.scroll-view {
    box-shadow: -3px 1px 5px 0px rgba(219, 219, 219, 0.5); }

/************* MOBILE *************/
.nav-wrapper .ks-nav-mobile {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  padding: 0px;
  height: 100%;
  width: 70%;
  transition: left 0.3s ease;
  box-shadow: -3px 1px 5px 0px rgba(219, 219, 219, 0.5); }
  .nav-wrapper .ks-nav-mobile .nav-list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: white;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll; }
    .nav-wrapper .ks-nav-mobile .nav-list-items .close-btn-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 100px; }
      .nav-wrapper .ks-nav-mobile .nav-list-items .close-btn-wrapper .close-btn {
        background: url("assets/images/close.svg");
        float: right;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        margin: 20px;
        background-repeat: no-repeat; }
    .nav-wrapper .ks-nav-mobile .nav-list-items li {
      padding: 20px;
      width: 60%;
      margin: 0 auto 0 auto;
      list-style: none;
      border-bottom: 1px solid #F3F3F3; }
      .nav-wrapper .ks-nav-mobile .nav-list-items li.top {
        border-top: 1px solid #F3F3F3; }
      .nav-wrapper .ks-nav-mobile .nav-list-items li a {
        font-family: 'Concert One', cursive;
        font-size: 18px;
        color: #606A77;
        letter-spacing: 1.36px;
        text-decoration: none; }
      .nav-wrapper .ks-nav-mobile .nav-list-items li:hover, .nav-wrapper .ks-nav-mobile .nav-list-items li:active {
        cursor: pointer; }
        .nav-wrapper .ks-nav-mobile .nav-list-items li:hover a, .nav-wrapper .ks-nav-mobile .nav-list-items li:active a {
          border-bottom: 2px solid #8BE9ED; }
    .nav-wrapper .ks-nav-mobile .nav-list-items .free-quote-button {
      padding: 10px;
      width: 130px;
      font-size: 20px; }
    .nav-wrapper .ks-nav-mobile .nav-list-items .pencil-accent {
      background: url("assets/images/lil-pencil.svg");
      background-repeat: no-repeat;
      height: 20px;
      width: 100px;
      margin: auto;
      margin-top: 20px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav-wrapper .ks-nav-mobile {
      display: none; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-wrapper .ks-nav-mobile {
      display: none; } }
  @media only screen and (min-width: 1200px) {
    .nav-wrapper .ks-nav-mobile {
      display: none; } }

.nav-wrapper .screen {
  background: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav-wrapper .screen {
      display: none; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-wrapper .screen {
      display: none; } }
  @media only screen and (min-width: 1200px) {
    .nav-wrapper .screen {
      display: none; } }

.nav-wrapper.closed .ks-nav-mobile {
  left: -70% !important; }

.nav-wrapper.closed .screen {
  display: none; }

.ks-nav-strut {
  margin-bottom: 40px;
  height: 70px; }
  @media only screen and (max-width: 480px) {
    .ks-nav-strut {
      display: none; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-nav-strut {
      display: none; } }
  .ks-nav-strut.mobile {
    display: block; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .ks-nav-strut.mobile {
        display: none; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .ks-nav-strut.mobile {
        display: none; } }
    @media only screen and (min-width: 1200px) {
      .ks-nav-strut.mobile {
        display: none; } }

@keyframes float {
  0% {
    left: -10%; }
  25% {
    left: 10%; }
  50% {
    left: -10%; }
  75% {
    left: 10%; }
  100% {
    left: -10%; } }

.ks-hero {
  margin-bottom: 50px; }
  .ks-hero .hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2; }
  .ks-hero .cloud-bg {
    width: 100%;
    position: relative;
    z-index: -1; }
    .ks-hero .cloud-bg .cloud-rows {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%; }
      .ks-hero .cloud-bg .cloud-rows .cloud-row {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        height: 50%; }
        .ks-hero .cloud-bg .cloud-rows .cloud-row img {
          padding: 0 100px 0 100px;
          position: relative;
          animation: float 25s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          height: 90px; }
        .ks-hero .cloud-bg .cloud-rows .cloud-row .c-1 {
          animation-delay: -.5s;
          padding-right: 100px !important; }
        .ks-hero .cloud-bg .cloud-rows .cloud-row .c-2 {
          padding-left: 100px;
          animation-delay: -5.5s; }
        .ks-hero .cloud-bg .cloud-rows .cloud-row .c-3 {
          animation-delay: -5s;
          padding-right: 100px; }
  .ks-hero .logo {
    width: 400px;
    display: block;
    margin: auto; }
    @media only screen and (max-width: 480px) {
      .ks-hero .logo {
        width: 90%; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-hero .logo {
        width: 90%; } }

.ks-hero * {
  margin: auto; }

.ks-hero h2 {
  color: #57D7DD;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.2px;
  display: block; }

.ks-hero .hero-img {
  margin: auto;
  margin-bottom: 30px;
  max-width: 380px;
  overflow: hidden; }
  @media only screen and (max-width: 480px) {
    .ks-hero .hero-img {
      max-width: 100%; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-hero .hero-img {
      max-width: 100%; } }
  @media only screen and (min-width: 1200px) {
    .ks-hero .hero-img {
      width: 35%;
      max-width: 600px; } }

.free-quote-button {
  border-radius: 20px;
  padding: 15px 0px 15px 0px;
  user-select: none;
  font-family: 'Concert One', cursive;
  font-size: 26px;
  color: white;
  letter-spacing: 1px;
  font-weight: thin;
  text-align: center;
  width: 250px;
  display: block;
  margin: auto;
  background: #FF7275;
  position: relative;
  border-radius: 8px;
  top: 0;
  box-shadow: 0 7px 0 #ff3f43, 0 8px 3px rgba(0, 0, 0, 0.2);
  font-weight: 100;
  text-decoration: none; }
  .free-quote-button:hover, .free-quote-button:focus {
    box-shadow: 0 7px 0 #ff3f43, 0 8px 3px rgba(0, 0, 0, 0.2); }
  .free-quote-button:active, .free-quote-button.active, .free-quote-button.is-active {
    top: 5px;
    transition-property: all;
    transition-duration: .15s;
    box-shadow: 0 2px 0 #ff3f43, 0 3px 3px rgba(0, 0, 0, 0.2); }

.free-quote-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: white; }

.ks-help {
  background: #9FF1F4;
  padding: 75px 0 50px 0;
  margin-bottom: 50px; }
  .ks-help h3.section-title {
    text-align: center;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 50px; }
  .ks-help .help-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto; }
    .ks-help .help-section .help-method img {
      display: block;
      margin: auto;
      width: 250px;
      height: 250px; }
    .ks-help .help-section .help-method h5 {
      text-align: center;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 30px; }
    .ks-help .help-section .help-method p {
      margin: auto;
      margin-bottom: 25px;
      width: 90%;
      text-align: justify;
      line-height: 30px; }
      .ks-help .help-section .help-method p.tight-letters {
        letter-spacing: -0.4px; }
      @media only screen and (min-width: 1200px) {
        .ks-help .help-section .help-method p {
          width: 350px !important; } }
    @media only screen and (max-width: 480px) {
      .ks-help .help-section {
        flex-direction: column; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-help .help-section {
        flex-direction: column; } }

.ks-mission {
  margin-bottom: 250px;
  background: url("assets/images/patter-lightblue.svg"); }
  .ks-mission .mission-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto; }
    .ks-mission .mission-wrapper .mission-statement {
      width: 400px;
      margin: auto; }
      .ks-mission .mission-wrapper .mission-statement .section-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px; }
      .ks-mission .mission-wrapper .mission-statement .tiny-accents {
        display: block;
        margin: auto; }
      .ks-mission .mission-wrapper .mission-statement p {
        margin: auto;
        text-align: justify;
        padding: 20px; }
    .ks-mission .mission-wrapper .mission-img {
      margin: auto;
      margin-left: 0px;
      width: 200px;
      height: 400px; }
      @media only screen and (max-width: 480px) {
        .ks-mission .mission-wrapper .mission-img {
          margin: auto;
          margin-top: 20px; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .ks-mission .mission-wrapper .mission-img {
          margin: auto;
          margin-top: 20px; } }
    @media only screen and (max-width: 480px) {
      .ks-mission .mission-wrapper {
        flex-direction: column; }
        .ks-mission .mission-wrapper .mission-statement {
          width: 300px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-mission .mission-wrapper {
        flex-direction: column; }
        .ks-mission .mission-wrapper .mission-statement {
          width: 300px; } }
  @media only screen and (max-width: 480px) {
    .ks-mission {
      background: white; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-mission {
      background: white; } }

.noodles-cloud {
  display: inline-block;
  margin: auto;
  margin-top: 70px;
  width: 100px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .noodles-cloud {
      display: none; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .noodles-cloud {
      display: none; } }
  @media only screen and (min-width: 1200px) {
    .noodles-cloud {
      display: none; } }

.portfolio-prompt-wrapper .portfolio-prompt-bg {
  background: #DDFEFD;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1px; }
  .portfolio-prompt-wrapper .portfolio-prompt-bg .portfolio-prompt-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url("assets/images/pattern-blue.svg");
    background-size: 100% 80%; }

@media only screen and (max-width: 480px) {
  .portfolio-prompt-wrapper {
    display: none; } }

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .portfolio-prompt-wrapper {
    display: none; } }

.cloud-filler {
  margin-top: -100px;
  overflow: hidden; }
  .cloud-filler .left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .cloud-filler .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

.portfolio-prompt {
  display: flex;
  flex-direction: column;
  width: 670px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(83, 145, 141, 0.21);
  margin: auto;
  padding: 50px;
  position: relative;
  top: -150px;
  background: white;
  z-index: 2px; }
  .portfolio-prompt h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    font-size: 30px; }
  .portfolio-prompt img {
    margin-bottom: 40px; }
  .portfolio-prompt .more-previews-button {
    width: 100px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 1px 2px 4px #FACF66;
    background: #F6E265;
    position: relative;
    border-radius: 8px;
    top: 0;
    box-shadow: 0 7px 0 #f3d935, 0 8px 3px rgba(0, 0, 0, 0.2);
    font-weight: 100;
    text-decoration: none; }
    .portfolio-prompt .more-previews-button:hover, .portfolio-prompt .more-previews-button:focus {
      box-shadow: 0 7px 0 #f3d935, 0 8px 3px rgba(0, 0, 0, 0.2); }
    .portfolio-prompt .more-previews-button:active, .portfolio-prompt .more-previews-button.active, .portfolio-prompt .more-previews-button.is-active {
      top: 5px;
      transition-property: all;
      transition-duration: .15s;
      box-shadow: 0 2px 0 #f3d935, 0 3px 3px rgba(0, 0, 0, 0.2); }
  .portfolio-prompt p {
    margin: auto;
    text-align: justify;
    width: 466px;
    box-sizing: border-box;
    padding: 20px; }
  .portfolio-prompt.mobile {
    width: 100%;
    box-shadow: none;
    padding: 0px; }
    .portfolio-prompt.mobile p {
      width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .portfolio-prompt.mobile {
        display: none; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .portfolio-prompt.mobile {
        display: none; } }
    @media only screen and (min-width: 1200px) {
      .portfolio-prompt.mobile {
        display: none; } }

.ks-methods {
  margin-bottom: 40px;
  padding-top: 50px; }
  .ks-methods .section-title {
    font-size: 30px;
    margin-bottom: 70px; }
  .ks-methods .methods-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    margin: auto; }
    .ks-methods .methods-wrapper .recipe-method {
      width: 90%;
      margin-left: 30px;
      margin-right: 30px; }
      .ks-methods .methods-wrapper .recipe-method .method-title {
        font-size: 20px;
        letter-spacing: 0.93px;
        text-align: center;
        margin-bottom: 20px; }
      .ks-methods .methods-wrapper .recipe-method p {
        padding: 0 20px 0 20px;
        margin: auto;
        margin-bottom: 40px;
        text-align: justify;
        letter-spacing: -0.28px;
        line-height: 30px;
        width: 90%; }
      .ks-methods .methods-wrapper .recipe-method img {
        display: block;
        margin: auto;
        width: 90%;
        max-width: 350px; }
    @media only screen and (max-width: 480px) {
      .ks-methods .methods-wrapper {
        flex-direction: column; }
        .ks-methods .methods-wrapper .recipe-method {
          margin: auto; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-methods .methods-wrapper {
        flex-direction: column; }
        .ks-methods .methods-wrapper .recipe-method {
          margin: auto; } }

.ks-footer {
  padding: 40px 15px 10px 15px;
  background: url("assets/images/pattern-darkblue.svg"), #3A4157; }
  .ks-footer .section-title {
    font-family: 'Concert One';
    color: white;
    font-size: 30px;
    letter-spacing: 1.35px;
    margin-bottom: 40px; }
    @media only screen and (max-width: 480px) {
      .ks-footer .section-title {
        font-size: 25px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-footer .section-title {
        font-size: 25px; } }
  .ks-footer p {
    font-family: 'FaktSoftPro';
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    text-align: justify; }
    @media only screen and (max-width: 480px) {
      .ks-footer p {
        font-size: 16px;
        letter-spacing: 0.49px;
        line-height: 28px;
        box-sizing: border-box;
        padding: 20px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-footer p {
        font-size: 16px;
        letter-spacing: 0.49px;
        line-height: 28px;
        box-sizing: border-box;
        padding: 20px; } }
  .ks-footer .free-quote-button {
    margin: auto;
    margin-bottom: 40px;
    width: 250px;
    border: none; }
    @media only screen and (max-width: 480px) {
      .ks-footer .free-quote-button {
        width: 50%; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-footer .free-quote-button {
        width: 50%; } }
  .ks-footer .closing-title {
    text-align: center;
    color: white; }
  .ks-footer .input-form {
    width: 405px;
    margin: auto; }
    @media only screen and (max-width: 480px) {
      .ks-footer .input-form {
        width: 90%; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-footer .input-form {
        width: 90%; } }
    .ks-footer .input-form textarea, .ks-footer .input-form input {
      outline: none;
      border: solid 3px white; }
      .ks-footer .input-form textarea:focus, .ks-footer .input-form input:focus {
        border: solid 3px #39E1DE; }
    .ks-footer .input-form.erorr .email-input:invalid {
      border: solid 3px #FF7275; }
  .ks-footer .info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px; }
    .ks-footer .info-wrapper .info {
      display: inline-block; }
      .ks-footer .info-wrapper .info p {
        margin: auto;
        text-align: center;
        margin-bottom: 10px; }
      .ks-footer .info-wrapper .info .mail-logo {
        margin: auto !important;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .ks-footer .info-wrapper .info .mail-logo img {
          margin-right: 10px; }
        .ks-footer .info-wrapper .info .mail-logo a {
          font-family: 'FaktSoftPro';
          font-size: 16px;
          color: white;
          letter-spacing: 0.49px;
          text-decoration: none; }
          .ks-footer .info-wrapper .info .mail-logo a:hover {
            cursor: pointer;
            text-decoration: underline; }
  .ks-footer .email-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: block;
    margin-bottom: 40px;
    font-size: 16px;
    user-select: auto !important; }
    .ks-footer .email-input::placeholder {
      font-size: 16px; }
    @media only screen and (max-width: 480px) {
      .ks-footer .email-input {
        width: 100%; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-footer .email-input {
        width: 100%; } }
  .ks-footer .message-input {
    width: 100%;
    user-select: auto !important;
    resize: none;
    font-size: 16px;
    box-sizing: border-box; }
  .ks-footer .head-logo {
    width: 142px;
    display: block;
    margin: auto;
    margin-top: 100px; }
  @media only screen and (max-width: 480px) {
    .ks-footer {
      background: #3A4157; }
      .ks-footer p {
        width: 100%; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-footer {
      background: #3A4157; }
      .ks-footer p {
        width: 100%; } }

.fine-print {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media only screen and (max-width: 480px) {
    .fine-print {
      flex-direction: column; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .fine-print {
      flex-direction: column; } }
  .fine-print p {
    font-family: FaktSoftPro!important;
    font-size: 16px;
    letter-spacing: 0.49px;
    margin: 0;
    font-weight: 100; }
    @media only screen and (max-width: 480px) {
      .fine-print p {
        letter-spacing: 0.1px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .fine-print p {
        letter-spacing: 0.1px; } }
  .fine-print .right {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 480px) {
      .fine-print .right img {
        margin: auto; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .fine-print .right img {
        margin: auto; } }
    .fine-print .right .copyright {
      padding: 10px;
      color: white; }
      @media only screen and (max-width: 480px) {
        .fine-print .right .copyright {
          display: none; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .fine-print .right .copyright {
          display: none; } }

.ks-learning {
  margin-bottom: 100px;
  text-align: justify; }
  .ks-learning h1 {
    text-align: center;
    margin-bottom: 60px; }
  .ks-learning p {
    width: 650px;
    margin: auto;
    margin-bottom: 40px; }
    @media only screen and (max-width: 480px) {
      .ks-learning p {
        text-align: justify;
        width: 90%; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-learning p {
        text-align: justify;
        width: 90%; } }
  .ks-learning .input-sections {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: auto; }
    .ks-learning .input-sections textarea, .ks-learning .input-sections input {
      outline: none;
      border: solid 2px white; }
      .ks-learning .input-sections textarea:focus, .ks-learning .input-sections input:focus {
        border: solid 2px #39E1DE; }
    .ks-learning .input-sections.erorr .email-input:invalid {
      border: solid 1px #FF7275; }
    .ks-learning .input-sections .email-input {
      margin-bottom: 20px;
      width: 300px;
      border: solid 1px #979797;
      font-size: 16px;
      user-select: auto;
      outline: none; }
      @media only screen and (max-width: 480px) {
        .ks-learning .input-sections .email-input {
          width: 95%;
          margin: auto;
          box-sizing: border-box;
          margin-bottom: 20px; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .ks-learning .input-sections .email-input {
          width: 95%;
          margin: auto;
          box-sizing: border-box;
          margin-bottom: 20px; } }
    .ks-learning .input-sections .message-input {
      border: solid 1px #979797;
      width: 600px;
      resize: none;
      margin-bottom: 40px;
      font-size: 16px;
      user-select: auto;
      outline: none; }
      @media only screen and (max-width: 480px) {
        .ks-learning .input-sections .message-input {
          width: 95%;
          margin: auto;
          box-sizing: border-box;
          margin-bottom: 40px; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .ks-learning .input-sections .message-input {
          width: 95%;
          margin: auto;
          box-sizing: border-box;
          margin-bottom: 40px; } }
    @media only screen and (max-width: 480px) {
      .ks-learning .input-sections {
        width: 100%; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .ks-learning .input-sections {
        width: 100%; } }
  .ks-learning .free-quote-button {
    width: 200px; }

.ks-portfolio h1 {
  text-align: center; }

.ks-portfolio .image-slider {
  width: 900px;
  margin: auto;
  display: flex; }
  @media only screen and (max-width: 480px) {
    .ks-portfolio .image-slider {
      width: 100% !important; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-portfolio .image-slider {
      width: 100% !important; } }

.ks-portfolio .blurbs {
  width: 50%;
  margin: auto;
  height: 400px; }
  @media only screen and (max-width: 480px) {
    .ks-portfolio .blurbs {
      box-sizing: border-box;
      width: 100%;
      padding: 20px; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-portfolio .blurbs {
      box-sizing: border-box;
      width: 100%;
      padding: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .ks-portfolio .blurbs {
      box-sizing: border-box;
      width: 100%;
      padding: 20px; } }
  .ks-portfolio .blurbs .blurb {
    transition: opacity 0.2s;
    overflow: hidden;
    opacity: 0;
    height: 0px; }
    .ks-portfolio .blurbs .blurb h2 {
      text-align: center;
      letter-spacing: 0.9px; }
    .ks-portfolio .blurbs .blurb p {
      text-align: justify; }
    .ks-portfolio .blurbs .blurb.show {
      opacity: 1 !important;
      height: 100% !important; }
      @media only screen and (max-width: 480px) {
        .ks-portfolio .blurbs .blurb.show {
          padding: 20px; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) {
        .ks-portfolio .blurbs .blurb.show {
          padding: 20px; } }
  @media only screen and (max-width: 480px) {
    .ks-portfolio .blurbs {
      height: 600px; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .ks-portfolio .blurbs {
      height: 600px; } }

.slider-arrow {
  flex-direction: column;
  justify-content: center;
  margin: auto 0 auto 0; }
  @media only screen and (max-width: 480px) {
    .slider-arrow {
      display: none !important; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .slider-arrow {
      display: none !important; } }
  .slider-arrow img {
    width: 32px;
    border-radius: 16px;
    background: white; }
    .slider-arrow img:hover {
      cursor: pointer;
      box-shadow: -3px 1px 5px 0px rgba(219, 219, 219, 0.5);
      transform: scale(1.1); }

.images {
  width: 700px !important;
  margin: auto; }
  @media only screen and (max-width: 480px) {
    .images {
      width: 100% !important; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .images {
      width: 100% !important; } }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.ks-mrmakes-content {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.ks-mrmakes-details {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.ks-mrmakes-splash {
  height: 500px;
  border-radius: 20px;
}