doctype html
html
  head(lang="en")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="Get your product to market with our expert developers and designers at King of the Stack - the one-stop, full-stack dev shop!")
    meta(name="keywords", content="web developers, software consultancy")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title King of the Stack - majestic full-stack apps
    style.
      body {display: none;}
    link(href='https://fonts.googleapis.com/css?family=Concert+One', rel='stylesheet')
    link(rel="stylesheet", href="main.css", type="text/css")
    {% seo %}

  body
    .toast-hole
    .overflowWrap
      include ./components/nav
      include ./components/hero
      include ./components/about
      include ./components/mission
      include ./components/portfolioPrompt
      include ./components/methods
      include ./components/footer
  script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
  script(src="main.min.js")
  script.
    var stylesheet = loadCSS( "main.css" );
    onloadCSS( stylesheet, function() {
      console.log( "Stylesheet has loaded." );
      $("body").css("display","block");
    });
    loadCSS( "https://fonts.googleapis.com/css?family=Concert+One");
