doctype html
html
  head(lang="en")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel="stylesheet", href="https://cdn.rawgit.com/alexwolfe/Buttons/master/css/buttons.min.css")
    link(href='https://fonts.googleapis.com/css?family=Concert+One', rel='stylesheet')
    link(rel="stylesheet", href="styles/main.css", type="text/css")
  body
    include ./components/nav
    include ./components/hero

    script(  src='https://code.jquery.com/jquery-2.2.4.min.js',   integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=',   crossorigin='anonymous').
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
