doctype html
html
  head(lang="en")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Concert+One', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel="stylesheet", href="main.css", type="text/css")
  body
    include ./components/nav
    .ks-portfolio
      h1 Our Portfolio
      .image-slider
        .slider-arrow(id="slider-left")
          img(src="assets/images/arrow-left.svg")
        .images(id="test")
          .item
            img.slider-img(src="assets/images/portfolio/bablot-compressor.png")
            h2 Bablot
            p Bablot is a communications tool for Property Rental managers. It uses Facebook messenger to automate responses, and turn after hour visitors into valuable leads. We completed web design and mock up for mutliple versions of the site, as well as branding, logo design, poster design, proposal writing, marketing, and sales.
            p To top it all off we crafted <i>7 custom chat bots</i> with from the ground up complete with Artificial Intelligence that handle a wealth of situations.
          .item
            img.slider-img(src="assets/images/portfolio/beamer-compressor.png")
            h2 Lemmons
            p At lemmons we make all kinds of Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod At lemmons we make all kinds of Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .item
            img.slider-img(src="assets/images/portfolio/botany-compressor.png")
            h2 Botany
            p Botany is changing the way people make chat bots. We designed custom software to let people create custom chatbots with no code! For developers, we built an open API to give anyone the power to develop chat bots.
        .slider-arrow(id="slider-right")
          img(src="assets/images/arrow-right.svg")
    include ./components/footer
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(type='text/javascript', src='https://cdn.rawgit.com/hammerjs/hammer.js/master/hammer.min.js')
    script(src="js/scroll.js")
    script(src="js/slider.js")
