doctype html
html
  head(lang="en")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Concert+One', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel="stylesheet", href="main.css", type="text/css")
  body
    include ./components/nav
    .ks-portfolio
      h1 Our Portfolio
      .image-slider
        .slider-arrow(onclick="slideImage('previous')")
          img(src="assets/images/arrow-left.svg")
        .images
          img.slider-img(src="assets/images/portfolio/bablot-compressor.png")
          img.slider-img(src="assets/images/portfolio/beamer-compressor.png")
          img.slider-img(src="assets/images/portfolio/botany-compressor.png")
        .slider-arrow(onclick="slideImage('next')")
          img(src="assets/images/arrow-right.svg")
    include ./components/footer
    script(  src='https://code.jquery.com/jquery-3.1.0.slim.min.js',   integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=',   crossorigin='anonymous')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(src="js/scroll.js")
    script(src="js/slider.js")
